@import 'mixins.scss';


.hero {
    width: 100%;
    height: 100vh;
    @include gradient-endless-river(to top);
    color: white;
    @include font-default();
    @include display-flex();
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .site-content {
        width: 1024px;
    }

    section:nth-child(1) {
        .btn {
            margin-top: 1rem;
        }
    }

    section:nth-child(2) {
        @include display-flex();
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 5em;
            text-transform: uppercase;
        }
    }
}
