@import 'mixins.scss';


.hero {
    width: 100%;
    height: 100vh;
    @include gradient-endless-river(to top);
    color: white;
    @include font-default();
    @include display-flex();
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .site-content {
        width: 1024px;

        .form {
            width: 50%;
            margin: auto;
        }
    }

    section:nth-child(1) {
        .btn {
            margin-top: 1rem;
        }
    }

    section:nth-child(2) {
        @include display-flex();
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    @include media-ipad-pro {
        section:nth-child(1) {
            text-align: center;
        }

        section:nth-child(2) {
            display: none;
        }

        .form {
            width: 100% !important;
        }
    }
}
