@import 'mixins.scss';
@import 'variables.scss';


.btn {
    display: inline-block;
    min-width: 128px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
    @include font-default();
    font-size: 100%;
    border-radius: 32px;

    .material-icons {
        vertical-align: middle;
    }

    &:hover {
        cursor: pointer;
    }

    &.btn-primary {
        background-color: $color_main;
        color: white;
    }

    &.btn-warning {
        background-color: $color_warning;
        color: white;
    }
}

.input-text {
    background: none;
    border: none;
    outline: none;
    @include font-default();
    font-size: 100%;
    height: 32px;
    line-height: 32px;
    color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;

    &.input-text-contrast {
        border-bottom-color: $color_main;
        color: $color_main;
    }
}

.form {
    h2 {
        margin-bottom: 2rem;
        font-weight: 200;
    }

    .btn {
        margin-top: 0.5rem;
    }

    .input-text {
        width: 100%;
    }

    label {
        p {
            margin-bottom: 0.5rem;
        }
    }
}

.input-toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
