@import 'mixins.scss';
@import 'variables.scss';


$nav_height: 64px;

.navbar {
    width: 100%;
    height: $nav_height;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;

    @include media-desktop {
        .btn-primary {
            background-color: white !important;
            color: black !important;
            min-width: 99px !important;
        }
    }

    @include media-ipad-pro {
        .btn-primary {
            background: none !important;
            min-width: auto !important;
        }
    }

    .site-content {
        @include display-flex();
        flex-direction: row;
        @include font-default();

        section {
            flex: 1;
            @include display-flex();
            flex-direction: row;

            a {
                line-height: $nav_height;
                display: inline-block;
                height: 100%;
                padding-left: 1rem;
                padding-right: 1rem;
                text-align: center;
                text-transform: capitalize;
                text-decoration: none;
                color: white;
            }
        }

        section:nth-child(1) {
            justify-content: flex-begin;
        }

        section:nth-child(2) {
            justify-content: flex-end;
        }
    }
}
