@import 'mixins.scss';


.split {
    @include display-flex();
    flex-direction: row;

    section {
        flex: 1;
        box-sizing: border-box;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
