.navbar {
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80; }
  .navbar .site-content {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    font-family: 'Source Sans Pro', sans-serif;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white; }
    .navbar .site-content section {
      flex: 1;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      flex-direction: row; }
      .navbar .site-content section a {
        line-height: 64px;
        display: inline-block;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        text-transform: capitalize;
        text-decoration: none;
        color: white; }
    .navbar .site-content section:nth-child(1) {
      justify-content: flex-begin; }
    .navbar .site-content section:nth-child(2) {
      justify-content: flex-end; }

.hero {
  width: 100%;
  height: 100vh;
  background: #43cea2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #185a9d, #43cea2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #185a9d, #43cea2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .hero .site-content {
    max-width: 1024px; }
  .hero section:nth-child(1) .btn {
    margin-top: 1rem; }
  .hero section:nth-child(2) {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .hero section:nth-child(2) h1 {
      font-size: 5em;
      text-transform: uppercase; }
  @media screen and (max-width: 1024px) {
    .hero section:nth-child(1) {
      text-align: center; }
    .hero section:nth-child(2) {
      display: none; } }

.split {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row; }
  .split section {
    flex: 1;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  @media screen and (max-width: 1024px) {
    .split {
      display: block;
      width: 100%; }
      .split section {
        display: block;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem; } }

.btn {
  display: inline-block;
  min-width: 128px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 32px; }
  .btn.btn-primary {
    background-color: #6CCAA3;
    color: white; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem; }

p {
  margin-bottom: 0.5rem; }

.site-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: white; }

h1, h2, h3, h4, h5, h6, p, a {
  -webkit-font-smoothing: antialiased; }

h2 {
  font-size: 2em;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif; }

p, a {
  font-weight: 200;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  font-family: 'Source Sans Pro', sans-serif; }

* {
  margin: 0;
  padding: 0; }

.site-content {
  max-width: 1024px;
  margin: auto;
  position: relative; }
  @media screen and (max-width: 1024px) {
    .site-content {
      box-sizing: border-box;
      padding-left: 0.5rem;
      padding-right: 0.5rem; } }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.centered {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center; }

@media screen and (max-width: 1024px) {
  .not-mobile {
    display: none !important; } }

/*# sourceMappingURL=style.css.map */
