.navbar {
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80; }
  @media screen and (min-width: 1080px) {
    .navbar .btn-primary {
      background-color: white !important;
      color: black !important;
      min-width: 99px !important; } }
  @media screen and (max-width: 1024px) {
    .navbar .btn-primary {
      background: none !important;
      min-width: auto !important; } }
  .navbar .site-content {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    font-family: 'Source Sans Pro', sans-serif; }
    .navbar .site-content section {
      flex: 1;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      flex-direction: row; }
      .navbar .site-content section a {
        line-height: 64px;
        display: inline-block;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        text-transform: capitalize;
        text-decoration: none;
        color: white; }
    .navbar .site-content section:nth-child(1) {
      justify-content: flex-begin; }
    .navbar .site-content section:nth-child(2) {
      justify-content: flex-end; }
  .navbar.navbar-contrast {
    background-color: #6CCAA3;
    color: white; }

.hero {
  width: 100%;
  height: 100vh;
  background: #43cea2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #185a9d, #43cea2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #185a9d, #43cea2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .hero .site-content {
    width: 1024px; }
    .hero .site-content .form {
      width: 50%;
      margin: auto; }
  .hero section:nth-child(1) .btn {
    margin-top: 1rem; }
  .hero section:nth-child(2) {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  @media screen and (max-width: 1024px) {
    .hero section:nth-child(1) {
      text-align: center; }
    .hero section:nth-child(2) {
      display: none; }
    .hero .form {
      width: 100% !important; } }

.split {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row; }
  .split section {
    flex: 1;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  @media screen and (max-width: 1024px) {
    .split {
      display: block;
      width: 100%; }
      .split section {
        display: block;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem; } }

.btn {
  display: inline-block;
  min-width: 128px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  border-radius: 32px; }
  .btn .material-icons {
    vertical-align: middle;
    margin-right: 0.5rem; }
  .btn:hover {
    cursor: pointer; }
  .btn.btn-primary {
    background-color: #6CCAA3;
    color: white; }
  .btn.btn-warning {
    background-color: #BE5855;
    color: white; }

.input-text {
  background: none;
  border: none;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  height: 32px;
  line-height: 32px;
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white; }
  .input-text.input-text-contrast {
    border-bottom-color: #6CCAA3;
    color: #6CCAA3; }

.input-textarea {
  background: none;
  outline: none;
  border: none;
  min-height: 256px;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: #6CCAA3;
  border-bottom-width: 1px; }

.form h2 {
  margin-bottom: 2rem;
  font-weight: 200; }
.form .btn {
  margin-top: 0.5rem; }
.form .input-text {
  width: 100%; }
.form label p {
  margin-bottom: 0.5rem; }

.input-toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0; }

.input-toggle + label {
  cursor: pointer;
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 30px;
  width: 50px;
  border-radius: 15px; }

.input-toggle + label:before {
  content: '';
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  transition: .25s ease-in-out; }

.input-toggle + label:after {
  content: '';
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: .25s ease-in-out; }

.input-toggle:checked + label:before {
  width: 50px;
  background: #6CCAA3; }

.input-toggle:checked + label:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2); }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem; }

p {
  margin-bottom: 0.5rem; }

.site-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: white; }

h1, h2, h3, h4, h5, h6, p, a {
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-size: 2em;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif; }

p, a {
  font-weight: 200;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  font-family: 'Source Sans Pro', sans-serif; }

.footer {
  height: 256px;
  background-color: #6CCAA3;
  color: white;
  font-family: 'Source Sans Pro', sans-serif; }
  .footer ul {
    list-style: none; }
  .footer a {
    color: white; }
  .footer h4 {
    font-size: 1.3em; }
  .footer p, .footer a {
    font-size: 1.1em; }
  .footer .site-content {
    height: 100%; }
    .footer .site-content .split {
      height: 100%; }
      .footer .site-content .split section:nth-child(1) {
        text-align: left; }
      .footer .site-content .split section:nth-child(2) {
        text-align: right; }
      .footer .site-content .split section {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        /* NEW, Spec - Firefox, Chrome, Opera */
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap; }
      @media screen and (max-width: 1024px) {
        .footer .site-content .split section:nth-child(2) {
          text-align: left; } }

.card {
  width: 100%;
  height: 300px;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #6CCAA3; }
  .card .card-pin {
    width: 32px;
    height: 32px;
    display: inline-block;
    color: white;
    background: #43cea2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #185a9d, #43cea2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #185a9d, #43cea2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 64px;
    position: absolute;
    line-height: 32px;
    text-align: center;
    bottom: -16px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
  .card .card-body {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .card .card-body .material-icons {
      font-size: 5em;
      color: #2B5B98;
      margin-bottom: 1rem; }

.view-admin {
  margin-top: 64px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row;
  min-height: calc(100vh - 64px);
  font-family: 'Source Sans Pro', sans-serif; }
  .view-admin .view-admin-menu-item {
    width: 100%;
    height: 64px;
    text-decoration: none;
    color: #6CCAA3;
    font-weight: 400;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #6CCAA3;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    transition: .2s; }
    .view-admin .view-admin-menu-item section {
      line-height: 64px; }
    .view-admin .view-admin-menu-item section:nth-child(1) {
      width: 20%;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      justify-content: center;
      align-items: center;
      vertical-align: middle; }
      .view-admin .view-admin-menu-item section:nth-child(1) .material-icons {
        font-size: 2em;
        vertical-align: middle; }
    .view-admin .view-admin-menu-item section:nth-child(2) {
      flex: 1; }
    .view-admin .view-admin-menu-item:hover {
      background-color: #6CCAA3;
      color: white;
      transition: .2s; }
  .view-admin .view-admin-menu {
    width: 19%;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #6CCAA3; }
  .view-admin .view-admin-content {
    flex: 1;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem; }
    .view-admin .view-admin-content .form {
      padding-bottom: 1rem; }
  .view-admin .view-admin-mobile-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    z-index: 80;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .view-admin .view-admin-mobile-menu[data-active='0'] {
      opacity: 0;
      pointer-events: none; }
  .view-admin .view-admin-mobile-menu-btn {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 2.5rem;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
    color: white;
    background: #43cea2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #185a9d, #43cea2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #185a9d, #43cea2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 80;
    border-width: 2px;
    border-style: solid;
    border-color: white; }

.table {
  border-collapse: collapse;
  text-align: left;
  width: 100%; }
  .table th, .table td {
    padding: 1rem; }
  .table tr {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #6CCAA3; }

* {
  margin: 0;
  padding: 0; }

.site-content {
  max-width: 1024px;
  margin: auto;
  position: relative; }
  @media screen and (max-width: 1024px) {
    .site-content {
      max-width: 1024px;
      width: auto !important;
      box-sizing: border-box;
      padding-left: 0.5rem;
      padding-right: 0.5rem; } }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.centered {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center; }

@media screen and (max-width: 1024px) {
  .not-mobile {
    display: none !important; } }

@media screen and (min-width: 1080px) {
  .only-mobile {
    display: none !important; } }

.push-down {
  margin-top: 1rem; }

.push-right {
  margin-left: 1rem; }

/*# sourceMappingURL=style.css.map */
