@import 'navbar.scss';
@import 'hero.scss';
@import 'split.scss';
@import 'inputs.scss';
@import 'align.scss';
@import 'site-section.scss';
@import 'text-content.scss';


* {
    margin: 0;
    padding: 0;
}

.site-content {
    max-width: 1024px;
    margin: auto;
    position: relative;
}
