@import 'mixins.scss';
@import 'navbar.scss';
@import 'hero.scss';
@import 'split.scss';
@import 'inputs.scss';
@import 'align.scss';
@import 'site-section.scss';
@import 'text-content.scss';


* {
    margin: 0;
    padding: 0;
}

.site-content {
    max-width: 1024px;
    margin: auto;
    position: relative;

    @include media-ipad-pro {
        box-sizing: border-box;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.centered {
    @include display-flex();
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.not-mobile {
    @include media-ipad-pro {
        display: none !important;
    }
}
