@import 'mixins.scss';


h1, h2, h3, h4, h5, h6, p, a {
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 2em;
    font-weight: 400;
    @include font-default();
}

p, a {
    font-weight: 200;
    line-height: 1.4em;
    letter-spacing: 0.02em;
    @include font-default();
}
